<div id="overlay"></div>
<div id="dynamic">
    <ngx-spinner bdColor="rgba(0,0,0,0.9)" [fullScreen]="true" size="large" color="#fff" type="ball-clip-rotate-pulse">
    </ngx-spinner>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-2">
                 <div class="toggle">
                    <mat-radio-group aria-label="Select an option" [(ngModel)]="this.radioOptions" >
                        <mat-radio-button class="orgLabel" id="default"  [value]=1  name="toggleSpecies"   (change)="toggleSpecimens($event)" checked>Species</mat-radio-button><br>
                        <mat-radio-button class="orgLabel" id="toggle" name="toggleSpecimen" (change)="toggleSpecimens($event)" [value]=3>Species and Specimens</mat-radio-button>

                    </mat-radio-group>
                </div>

                <div class="card bg-lite mb-3 filter-top">
                    <h3 class="card-header filter-heading">
                        <span #lbltextENA>Data Status</span>
                    </h3>
                    <ul role="list"  class="list-group">
                        @if (getStatusCount(aggregations?.biosamples.buckets)) {
                            <li  role="listitem" class="biosample
                                           list-group-item d-flex justify-content-between
                                           align-items-center biosamples-inactive"
                                [style]="checkStyle('BioSamples - Submitted')"
                                (click)="onFilterClick('BioSamples - Submitted')"
                                style="cursor: pointer">
                                <span>BioSamples - Submitted</span>
                            </li>
                        }
                        @if (getStatusCount(aggregations?.raw_data.buckets)) {
                            <li role="listitem"
                                class="list-group-item d-flex justify-content-between
                                           align-items-center"
                                [style]="checkStyle('Raw Data - Submitted')"
                                (click)="onFilterClick('Raw Data - Submitted')"
                                style="cursor: pointer">
                                <span>Raw Data - Submitted</span>
                            </li>
                        }
                        @if (getStatusCount(aggregations?.assemblies_status.buckets)) {
                            <li role="listitem"
                                class="list-group-item d-flex justify-content-between
                                           align-items-center"
                                [style]="checkStyle('Assemblies - Submitted')"
                                (click)="onFilterClick('Assemblies - Submitted')"
                                style="cursor: pointer">
                                <span> Assemblies - Submitted</span>
                            </li>
                        }
                        @if (getStatusCount(aggregations?.annotation_complete.buckets)) {
                            <li role="listitem"
                                class="list-group-item d-flex justify-content-between
                                           align-items-center"
                                [style]="checkStyle('Annotation Complete - Done')"
                                (click)="onFilterClick('Annotation Complete - Done')"
                                style="cursor: pointer">
                                <span> Annotation Complete - Done  </span>
                            </li>
                        }

                        @if (aggregations?.genome.doc_count) {
                            <li role="listitem"
                                class="list-group-item d-flex justify-content-between
                                           align-items-center"
                                [style]="checkStyle('Genome Notes - Submitted')"
                                (click)="onFilterClick('Genome Notes - Submitted')"
                                style="cursor: pointer">
                                <span> Genome Notes - Submitted</span>
                            </li>
                        }
                    </ul>
                </div>

                <!-- phylogeny new version -->
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <div class="card bg-lite mb-3 filter-top">
                            <h3 class="card-header filter-heading">
                                <span>Phylogeny/{{ currentClass }}</span>
                                @if (phylogenyFilters.length !== 0) {
                                    <mat-icon (click)="onRefreshClick()"
                                              style="cursor: pointer">
                                        refresh
                                    </mat-icon>
                                }
                                @if (phylogenyFilters.length !== 0) {
                                    <mat-icon (click)="onHistoryClick()"
                                              style="cursor: pointer">
                                        arrow_circle_left
                                    </mat-icon>
                                }
                            </h3>

                            <ul role="list" class="list-group">
                                @for (phylogeny_name of aggregations?.taxonomies[currentClass]?.buckets; track $index) {
                                    <li role="listitem"
                                        class="list-group-item d-flex justify-content-between
                                           align-items-center"
                                        style="cursor: pointer"
                                        [style]="checkStyle(phylogeny_name.key)"
                                        (click)="onFilterClick(phylogeny_name.key, true)">
                                        <span> {{ phylogeny_name.key }}</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Experiment Type new version -->
                <div class="card bg-lite mb-3 filter-top">
                    <h3 class="card-header filter-heading">
                        Experiment Type
                        @if
                        (experimentTypeFilters.length > itemLimit && isCollapsed) {
                            <i class="material-icons float-right"
                               (click)="toggleCollapse()">add</i>
                        }
                        @if(experimentTypeFilters.length < itemLimit && !isCollapsed) {
                            <i class="material-icons float-right" (click)="toggleCollapse()">remove</i>
                        }
                    </h3>
                    <ul role="list"  class="list-group" >
                        @for (filter of experimentTypeFilters; track $index) {
                            @if($index<itemLimit){
                                <li role="listitem" class="list-group-item d-flex justify-content-between
                                    align-items-center"
                                    [style]="checkStyle(filter.label + '_' + filter.key)"
                                    (click)="onFilterClick(filter.label + '_' + filter.key)"
                                    style="cursor: pointer">
                                    <span >{{ filter.key }}</span>
                                    <span class="badge badge-pill badge-info badge-space">
                                        {{filter.doc_count }}
                                    </span>
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
            <div class="col-lg-8 ">
                <h1 class="page-header">Sampling Map</h1>
                <br>
                @if(activeFilters.length > 0 || phylogenyFilters.length > 0){
                    <h1 >Filters: </h1>
                }
                @if(activeFilters.length > 0){
                    @for(field of activeFilters;track $index){
                        <button type="button" class="btn btn-success">
                            {{displayActiveFilterName(field)}} <span class="badge badge-light" (click)="onFilterClick(field)">X</span>
                        </button>
                    }
                }
                @if(phylogenyFilters.length > 0){
                    <button type="button" class="btn btn-success">
                        {{displayActiveFilterName(lastPhylogenyVal)}} <span class="badge badge-light" (click)="removePhylogenyFilters()">X</span>
                    </button>
                }
                @if(activeFilters.length > 0 || phylogenyFilters.length > 0){
                    <button class="btn btn-primary" type="button" (click)="removeFilter()"> Remove all filters </button>
                }

                <br>
                <br>
                    <mat-form-field class="searchField" style="width: 997px;">
                        <mat-label>Search</mat-label>
                        <input #searchInput matInput
                               [(ngModel)]='searchValue' (ngModelChange)="this.searchUpdate.next($event)"
                               placeholder="Search for species"
                               #matInput [matAutocomplete]="auto">
                    </mat-form-field>
                <mat-autocomplete #auto="matAutocomplete">
                    @for (option of filteredOptions; track option) {
                        <mat-option [value]="option['id']" (click)="getGisData()">
                            {{option['id']}}
                        </mat-option>
                    }
                </mat-autocomplete>

                <br>
                <div class="row">
                    <div class="map-container">
                        <div class="map-frame">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
