.node {
    cursor: pointer;
}

.overlay {
    background-color: #EEE;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.modal-heading {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

#reset {
    display: none;
}

.zoom {
    display: none;
}

#organismsModal {
    top: 10px;
}

.switch {
    margin: 3.5rem 1.5rem;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
    position: absolute;
}

.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 900px;
}

#block_container {
    display: inline;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    font: 10px sans-serif;
}


.select2-dropdown--below {
    margin-top: -2px !important;
    border-radius: 4px !important;
}
.select2-drop {
    display: none !important;
}
