.filter-top {
    margin-top: 1rem !important;
}

.jumbotron {
    background: url("../../../assets/dtol banner thin.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.card-header,
.btn-success,
.badge-success {
    background-color: lightblue;
}

.btn-primary {
    background-color: midnightblue;
}

.active-filter {
    background-color: skyblue !important;
    color: black !important;
    border: none !important;
}

.page-header {
    color: midnightblue;
}

h1.page-header {
    font-size: 30px;
    margin-bottom: 20px;
}

.display-2 {
    color: ghostwhite;
}

.txt-center {
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}

i {
    cursor: pointer;
}

.disp {
    display: block !important;
}

.non-disp {
    display: none !important;
}

ul.long-list {
    max-height: 300px;
    overflow: scroll;
}

.filter-heading {
    font-size: unset;
    font-weight: 400;
}

.round-border {
    border: 1px solid #e0e0e0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
}

.zero-margin {
    margin: 0px !important;
}

.inactiveFilter {
    pointer-events: none;
    cursor: default;
}

ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    user-select: none;
}


/* Create the caret/arrow with a unicode, and style it */

.caret::before {
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.nested {
    display: none;
}


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
    display: block;
    background-color: inherit;
}

#myUL li .caret {
    padding: 0px 0px;
    margin-right: 0px;
    background: #fff;
}

.nested li .caret {
    padding: 0px 0px;
    margin-right: 0px;
    background: #fff;
}

.badge-success {
    float: right;
}

hr {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.modal-heading {
    width: 100%;
    text-align: center;
}

.rank-heading {
    text-align: center;
    font-size: large;
}

.filter-heading {
    margin: 0px !important;
}

.left {
    float: left;
}

.fas {
    padding-right: 5px;
}

ul[class*="other-"],
ul[class*="Other-"] {
    padding: 0;
}

.mat-header-row,
.mat-row {
    min-height: 30px !important;
}

.mat-list-base {
    padding: 0px !important;
}

.mat-column-organism {
    flex: 0 0 25%;
}

.mat-column-commonName {
    flex: 0 0 20%;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: unset;
}

.list-group-item {
    padding: 0.25rem;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

mat-chip-set {
    pointer-events: none;
}

.paginatorClass {
    margin-bottom: 15px;
    font-size: 14px;
}
