.page-header {
    color: midnightblue !important;

}

.nav-link {
    color: midnightblue !important;
    padding-left: 0.1rem;
}

#navbarCollapse {
    width: 100%
}

.navbar {
    padding: 0rem 1rem !important;
    padding-left: 0.1rem;
}
.navbar-brand {
    margin-right: 0rem;

}
