.page-header {
    color: midnightblue !important;
    margin-right: -900px;

}

.nav-link {
    color: midnightblue !important;
    font-size: 16px;
    /*padding-left: 0.1rem;*/
}

#navbarCollapse {
    width: 100%
}

.navbar {
    padding: 0rem 1rem !important;
    padding-left: 0.1rem;
}

