.filter-top {
    margin-top: 1rem !important;
}

.jumbotron {
    background: url("../../../assets/dtol banner thin.jpg") center center no-repeat;
    background-size: cover;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-left: 5px;
}

.card-header,
.btn-success,
.badge-success {
    background-color: lightblue;
}

.btn-primary {
    background-color: midnightblue;
}

.active {
    background-color: skyblue;
}

.page-header {
    color: midnightblue;
}

.display-2 {
    color: ghostwhite;
}

.txt-center {
    text-align: center;
    /* justify-content: center; */
}

.mat-header-cell {
    text-align: center;
    /* justify-content: center; */
}

i {
    cursor: pointer;
}

.disp {
    display: block !important;
}

.non-disp {
    display: none !important;
}

ul.long-list {
    max-height: 300px;
    overflow: scroll;
}

.filter-heading {
    font-size: unset;
    font-weight: 400;
}

.inactiveFilter {
    pointer-events: none;
    cursor: default;
}


/* Remove default bullets */

ul,
#myUL {
    list-style-type: none;
}


/* Remove margins and padding from the parent ul */

#myUL {
    margin: 0;
    padding: 0;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}


/* Style the caret/arrow */

.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}


/* Create the caret/arrow with a unicode, and style it */

.caret::before {
    /* content: "\25B6"; */
    color: black;
    display: inline-block;
    margin-right: 6px;
}


/* Rotate the caret/arrow icon when clicked on (using JavaScript) */

.fas {
    padding-right: 1px;
}


/* Hide the nested list */

.nested {
    display: none;
}


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */

.active {
    display: block;
    background-color: white;
}

#myUL li .caret {
    padding: 0px 0px;
    margin-right: 0px;
    background: #fff;
    /* font-size: smaller; */
}

.nested li .caret {
    padding: 0px 0px;
    margin-right: 0px;
    background: #fff
}

.badge-success {
    float: right;
}

hr {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.modal-heading {
    width: 100%;
    text-align: center;
}

.active-filter {
    background-color: skyblue;
}

.rank-heading {
    text-align: center;
    font-size: large;
}

.filter-heading {
    margin: 0px !important;
}

.left {
    float: left;
}

.fas {
    padding-right: 5px;
}

ul[class*="Other-"] {
    padding: 0;
}

ul[class*="other-"] {
    padding: 0;
}

.mat-header-row,
.mat-row {
    min-height: 30px;
}

.list-group-item {
    padding: 0.25rem;
}

.goat-padding {
    padding-left: 35px;
}

.goat-color {
    color: #fff;
    background-color: midnightblue;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}