<div id="dynamic">
    <div class="container" style="padding-top: 65px;">
        <h1 class="text-center page-header">{{bioSampleId}}</h1>
        <dl class="row">
            @if (bioSampleObj) {
                <ng-container>
                    @if (bioSampleObj.commonName) {
                        <ng-container>
                            <dt class="col-sm-3">Name:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.commonName}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.accession) {
                        <ng-container>
                            <dt class="col-sm-3">BioSample ID:</dt>
                            <dd class="col-sm-9">
                                <a href="http://www.ebi.ac.uk/biosamples/samples/{{bioSampleObj.accession}}" target="_blank">
                                    {{bioSampleObj.accession}}
                                </a>
                            </dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.organism) {
                        <ng-container>
                            <dt class="col-sm-3">Organism:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.organism}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.organismPart) {
                        <ng-container>
                            <dt class="col-sm-3">Organism Part:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.organismPart}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.sex) {
                        <ng-container>
                            <dt class="col-sm-3">Sex:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.sex}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.taxonId) {
                        <ng-container>
                            <dt class="col-sm-3">Tax ID:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.taxonId}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.specimenId) {
                        <ng-container>
                            <dt class="col-sm-3">Specimen ID:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.specimenId}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.cultureOrStrainId) {
                        <ng-container>
                            <dt class="col-sm-3">Culture ID:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.cultureOrStrainId}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.lifestage) {
                        <ng-container>
                            <dt class="col-sm-3">Lifestage:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.lifestage}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.relationship) {
                        <ng-container>
                            <dt class="col-sm-3">Relationship:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.relationship}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.gal) {
                        <ng-container>
                            <dt class="col-sm-3">Gal:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.gal}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.galSampleId) {
                        <ng-container>
                            <dt class="col-sm-3">Gal Sample ID:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.galSampleId}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.collectedBy) {
                        <ng-container>
                            <dt class="col-sm-3">Collected By:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.collectedBy}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.collectingInstitution) {
                        <ng-container>
                            <dt class="col-sm-3">Collecting Institution:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.collectingInstitution}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.collectionDate) {
                        <ng-container>
                            <dt class="col-sm-3">Collection Date:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.collectionDate}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationCountryAndOrSea) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location (Country and/or Sea):</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationCountryAndOrSea}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationRegionAndLocality) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location (Region and Locality):</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationRegionAndLocality}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationLatitude?.text) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location (Latitude):</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationLatitude.text}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationLongitude?.text) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location (Longitude):</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationLongitude.text}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationDepth?.text) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location (Depth):</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationDepth.text}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.geographicLocationElevation?.text) {
                        <ng-container>
                            <dt class="col-sm-3">Geographic Location Elevation:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.geographicLocationElevation.text}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.habitat) {
                        <ng-container>
                            <dt class="col-sm-3">Habitat:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.habitat}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.identifiedBy) {
                        <ng-container>
                            <dt class="col-sm-3">Identified By:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.identifiedBy}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.identifierAffiliation) {
                        <ng-container>
                            <dt class="col-sm-3">Identifier Affiliation:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.identifierAffiliation}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.specimenVoucher) {
                        <ng-container>
                            <dt class="col-sm-3">Specimen Voucher:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.specimenVoucher}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.projectName) {
                        <ng-container>
                            <dt class="col-sm-3">Project Name:</dt>
                            <dd class="col-sm-9">{{bioSampleObj.projectName}}</dd>
                        </ng-container>
                    }

                    @if (bioSampleObj.sampleDerivedFrom) {
                        <ng-container>
                            <dt class="col-sm-3">Sample Derived From:</dt>
                            <dd class="col-sm-9">
                                <a href="http://www.ebi.ac.uk/biosamples/samples/{{bioSampleObj.sampleDerivedFrom}}" target="_blank">
                                    {{bioSampleObj.sampleDerivedFrom}}
                                </a>
                            </dd>
                        </ng-container>
                    }
                </ng-container>
            }

            <!-- Custom Fields Section -->
            @if (bioSampleObj?.customFields?.length) {
                <div class="col-sm-12">
                    <hr />
                    <div class="row">
                        @for (sample of bioSampleObj.customFields; track sample) {
                            <dt class="col-sm-3">{{ sample?.name }}</dt>
                            <dd class="col-sm-9">
                                @if (sample.ontologyTerms?.length > 0) {
                                    <a href="{{ sample.ontologyTerms[0] }}">
                                        {{ sample?.value }}
                                    </a>
                                } @else {
                                    {{ sample?.value }}
                                }
                            </dd>
                        }
                    </div>
                </div>
            }

            @if (bioSampleObj?.specimens?.length) {
                <div class="col-sm-12">
                    <hr />
                    <!-- Header and Button on the Same Line -->
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="page-header">Related Specimens</h1>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    mat-raised-button
                                    (click)="exportTableToCSV('related-specimens-metadata.csv')"
                            >
                                Download Metadata
                            </button>
                        </div>
                    </div>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Search</mat-label>
                        <input
                                matInput
                                [(ngModel)]="searchText"
                                (keyup)="applyFilter($event)"
                                placeholder="Ex. ILLUMINA"
                                #input
                        />
                    </mat-form-field>
                    @if (dataSourceRecords && specDisplayedColumns.length > 0) {
                        <table mat-table [dataSource]="dataSourceRecords" matSort style="width: 100%;">
                            <ng-container matColumnDef="accession">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> BioSample ID </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="txt-center">
                                    <a [routerLink]="['/data/specimens/details/', element.accession]">{{ element.accession }}</a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="organism">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Organism </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="txt-center">{{ element.organism }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="commonName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Common Name </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="txt-center">{{ element.commonName }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="sex">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Sex </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="txt-center">{{ element.sex }}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="organismPart">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Organism Part </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="txt-center">{{ element.organismPart }}</mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="specDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: specDisplayedColumns"></mat-row>
                        </table>
                        <mat-paginator
                                style="width: 100%;"
                                [pageSizeOptions]="[20, 30, 50]"
                                showFirstLastButtons
                                [length]="specBioSampleTotalCount"
                        ></mat-paginator>
                    }
                </div>
            }

            @if (bioSampleObj?.annotation) {
                <div class="col-sm-12">
                    <h1 class="col-sm-12 page-header">Annotations</h1>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <a href="{{bioSampleObj.annotation}}">{{bioSampleObj.annotation}}</a>
                        </li>
                    </ul>
                </div>
            }
        </dl>
    </div>
</div>
