<div class="container" style="padding-top: 65px;">
    <h1 class="text-center page-header">{{bioSampleId}}</h1>
    <dl class="row">

        <dt class="col-sm-3">BioSample ID:</dt>
        <dd class="col-sm-9"><a href="http://www.ebi.ac.uk/biosamples/samples/{{bioSampleObj?.accession}}" target="_blank">{{bioSampleObj?.accession}}</a></dd>

        <dt class="col-sm-3">Tracking Status:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.tracking_status}}</dd>

        <dt class="col-sm-3">Organism:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.organism}}</dd>

        <dt class="col-sm-3">Tax ID:</dt>
        <dd class="col-sm-9">{{bioSampleObj?.taxId}}</dd>

        @for (sample of bioSampleObj?.customFields; track sample) {
            <dt class="col-sm-3">{{sample?.name}}</dt>
            <dd class="col-sm-9">
                {{sample?.value}}
            </dd>
        }

        @if (bioSampleObj?.relationships?.length) {
            <hr>
            <h1 class="col-sm-12 page-header">Relationships</h1>
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <table mat-table matTableExporter  [dataSource]="dataSourceRecords" matSort style="width: 100%;">
                            <ng-container matColumnDef="source">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
                                <mat-cell *matCellDef="let element" >
                                    <a routerLink="/data/organism/details/{{element.source}}" target="_blank">
                                        {{element.source}}
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Relationships Type </mat-header-cell>
                                <mat-cell *matCellDef="let element" >
                                    {{element.type}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="target">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Target </mat-header-cell>
                                <mat-cell *matCellDef="let element" >
                                    <a routerLink="/data/organism/details/{{element.target}}" target="_blank">
                                        {{element.target}}
                                    </a>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="relationshipDisplayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: relationshipDisplayedColumns;"></mat-row>
                        </table>
                        <mat-paginator #paginatorRelationships style="width: 100%;" [pageSizeOptions]="[20, 30, 50]" showFirstLastButtons
                                       [length]="bioSampleObj['relationships']"></mat-paginator>
                    </div>
                </div>
            </div>
        }
    </dl>
</div>
