/*.table-container {*/
/*    overflow: hidden !important;*/
/*}*/

.table-container mat-form-field,
.table-container table {
    width: 100%;
    /*overflow: hidden !important;*/
}


.mat-header-cell, .mat-cell {
    padding: 4px 8px;
    white-space: nowrap;
    word-break: normal;
}



.mat-cell .mat-chip {
    padding: 0 4px;
    margin: 0;
}

.mat-row {
    height: auto;
}

.goat-color {
    color: #fff;
    background-color: midnightblue;
}

.blue-text {
    font-size: 1em;
    color: #007c82 !important;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}

.filter-heading {
    font-size: unset;
    font-weight: 400;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.active {
    background-color: #4BBEFD;
}

.btn-success,
.badge-success {
    background-color: lightblue;
}

.btn-primary {
    background-color: midnightblue;
}

button {
    margin: 2px;
}

.list-group-item {
    padding: 0.55rem;
}


.panel-title {
    color: darkblue;
    font-size: 16px;
}

.mgnify-id{
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.mgnify-container{
    margin-bottom: 20px;
    background-color: #f9f9f7;
    padding: 10px;
}

.mgnify-section{
    margin-bottom: 10px;
    margin-bottom: 10px;

}

.mat-icon {
    cursor: pointer;
    margin-left: auto;
}

.list-group-item {
    padding: 0.75rem 1rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    background-color: lightblue;
    padding: 1rem;
}
