.table-container {
    overflow-x: auto;
}

.table-container mat-form-field,
.table-container table {
    width: 100%;
    min-width: 1200px;
}

.mat-table {
    width: 100%;
}

.mat-header-cell, .mat-cell {
    padding: 4px 8px;
    white-space: nowrap;
    word-break: normal;
}

.mat-cell .mat-chip {
    padding: 0 4px;
    margin: 0;
}

.mat-row {
    height: auto;
}

.goat-color {
    color: #fff;
    background-color: midnightblue;
}

.blue-text {
    font-size: 1em;
    color: #007c82 !important;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}

.panel-title {
    color: darkblue;
    font-size: 16px;
}

.mgnify-id{
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.mgnify-container{
    margin-bottom: 20px;
}
