.filter-top {
    margin-top: 1rem !important;
}

#gradient {
    background-image: linear-gradient(white, lightblue, midnightblue);
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

.col-md-11 {
    margin-top: 200px;
}

h1 {
    color: slategrey;
    font-size: 50px;
}

#tree{
    margin-top: 5px;
    background: steelblue !important;
}

#data,
#status {
    background: steelblue !important;
}

#dynamic {
    background-image: linear-gradient(white, lightblue, lightskyblue);
}

#samplingMap{
    margin-top: 5px;
    background: steelblue !important;
}
#publications{
    margin-top: 5px;
    background: steelblue !important;
}
